<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/styles.css">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>Weather App</title>
</head>

<body>
  <div class="heading">
    <h1>Weather App</h1>

  </div>
  <form action="/" method="post">


    <label for="cityInput">Type your City Name below</label><br>
    <input class="css-input" placeholder="e.g. London" id="cityInput" type="text" name="cityName">
    <br>
    <button class="BUTTON_FUB" type="submit">Find out</button>

  </form>

</body>
<footer>    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/muhammad-uzair-kiani-754b2754/"><i class="fab fa-linkedin"></i></a>
      <a class="footer-link" href="https://twitter.com/UzairKiani"><i class="fab fa-twitter"></i></a>
      <a class="footer-link" href="https://www.facebook.com/muzairkiani"><i class="fab fa-facebook"></i></a>
      <p class="copyright">© 2021    Muhammad Uzair Kiani.</p>
    </div></footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/index.js" charset="utf-8"> </script>


</html>
