body{
  margin-top: 10%;
  background-color: #cae4db;
  font-family: 'Baloo Bhai 2';
  text-align: center;
  color: #00303f;
}
h1{
  font-size: 5rem;
  font-weight: 700;
  color: #00303f;
}
label{
  font-size: 1.5rem;
}
input{
  border-radius: 10%;
  width: 20%;
  font-size: 1.5rem;
}

.bottom-container {

  margin: 5% 10% 0 10%;

}
.footer-link{
  margin-left: 5%;
  margin-right: 5%;
}

.css-input {
     padding: 15px;
     font-size: 29px;
     border-width: 4px;
     border-color: #cae4db;
     background-color: #f5f4f4;
     color: #000000;
     border-style: solid;
     border-radius: 21px;
     box-shadow: 0px 0px 4px rgba(66,66,66,.1);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
 .css-input:focus {
     outline:none;
}


.BUTTON_FUB {
  margin-top: 6%;
   background: #CAE4DB;
   background-image: -webkit-linear-gradient(top, #CAE4DB, #00303F);
   background-image: -moz-linear-gradient(top, #CAE4DB, #00303F);
   background-image: -ms-linear-gradient(top, #CAE4DB, #00303F);
   background-image: -o-linear-gradient(top, #CAE4DB, #00303F);
   background-image: -webkit-gradient(to bottom, #CAE4DB, #00303F);
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   color: #00303F;

   font-size: 45px;
   font-weight: 400;
   padding: 26px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 0 1px 20px #000000;
   border: solid #CAE4DB 4px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_FUB:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
